@inherits LayoutComponentBase
<div class="page">
    <div class="main">
        <div class="content px-4">
            @*<div>
                <CRUDARM.Client.Pages.MenuOpc />
            </div>*@
            @Body
        </div>
    </div>
</div>
