@page "/"
@inject NavigationManager navmanager
    <div class="contenedormenu">
        <nav class="menu">
            <ol>
                <li class="menu-item" style="cursor:pointer"><a @onclick="@(()=>navegarpagina(1))">Personas</a></li>
                <li class="menu-item" style="cursor:pointer"><a @onclick="@(()=>navegarpagina(2))">Ingreso del personal</a></li>
                <li class="menu-item" style="cursor:pointer"><a @onclick="@(()=>navegarpagina(3))">Agregar Pais</a></li>
            </ol>
        </nav>
    </div>
        @code{
            #region void
            private void navegarpagina(int opc)
            {
                if (opc.Equals(1))
                {
                    navmanager.NavigateTo("/RegistrosPersona");
                }
                else if (opc.Equals(2))
                {
                    navmanager.NavigateTo("/CrearPersona");
                }else if (opc.Equals(3))
                {
                    navmanager.NavigateTo("/Paises");
            }
                else
                {
                    navmanager.NavigateTo("/");
                }
            }
            #endregion
        }
